* {
  text-align: center;
  font-family: helvetica, sans-serif;
}
header,
nav,
footer {
  color: white;
  padding: 2px;
}
header,
footer {
  background-color: darkgreen;
}
nav {
  background-color: forestgreen;
  display: flex;
  justify-content: space-around;
}
section {
  background-color: lightgreen;
  width: 33.3%;
  height: 550px;
  padding-top: 10px;
  overflow-y: auto;
}
table,
tr,
td,
thead {
  border: solid 1px darkgreen;
}
table {
  width: 90%;
  border-collapse: collapse;
}
#srodkowa img {
  width: 95%;
  border-radius: 8px;
}
#lewa tr:hover {
  background-color: forestgreen;
}
main {
  display: flex;
}

